<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666384711598-eqdk4bq6kcdncenjj265bav47eg62046.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666384711598-eqdk4bq6kcdncenjj265bav47eg62046</string>
	<key>API_KEY</key>
	<string>AIzaSyAlzfYeeDAu2pEpJo-aaQSUE4McDP79NG4</string>
	<key>GCM_SENDER_ID</key>
	<string>666384711598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.app</string>
	<key>PROJECT_ID</key>
	<string>rex-dispatch-85685</string>
	<key>STORAGE_BUCKET</key>
	<string>rex-dispatch-85685.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666384711598:ios:1460ed806ff72c688f123f</string>
</dict>
</plist>